<html lang="es">
  <head>
    <meta http-equiv="refresh" content="0; url=/blog/astro" />
    <title>Redirigiendo…</title>
  </head>
  <body>
    <p>Redirigiendo a <a href="/blog/astro">/blog/astro</a></p>
  </body>
</html>
