---
import "./Footer.css";
---

<!--
Se rompe en producción: 
<head>
    <link rel="stylesheet" href="/src/components/astro/Footer.css" />
</head> 
-->
<footer class="footer">
  <p>© 2025 Mi Landing. Hecho con Astro 🚀</p>
</footer>
