---
import RandomImageSSR from "../components/astro/RandomImageSSR.astro";

export const prerender = false;

console.log("Prerendering is disabled");

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>pre render</title>
  </head>
  <body>
    <RandomImageSSR />
    <h1>pre render</h1>
    <p>pre render</p>
  </body>
</html>
